# IntelliJ
#--------------------------------------------------

.idea/

*.iml

# Maven
#--------------------------------------------------

/target/

# Miscellaneous
#--------------------------------------------------

/res
