# Maven
#--------------------------------------------------

/target/

# Node
#--------------------------------------------------

/node_modules/

# Vite
#--------------------------------------------------

/vite.generated.ts

# Vaadin
#--------------------------------------------------

/frontend/generated/

/frontend/index.html
